.animate__pulse {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    animation: pulse-animation 1.8s infinite;
    opacity: 0.7;
  }
}
@keyframes pulse-animation {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}
