[project]
name = "payment-gateway"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
dependencies = [
    "fastapi[standard]>=0.128.0",
    "pydantic>=2.12.5",
    "pydantic-settings>=2.12.0",
    "requests>=2.32.5",
]
