{% extends 'base.html' %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}

{% block extra_head %}
  {% render_bundle 'auth' 'css' %}
  {% render_bundle 'auth' 'js' attrs='defer' %}
{% endblock %}
{% block bodyclass %}
  bg-light
{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}
{% block title %}
  {% block head_title %}
    {% trans 'Sign In' %}
  {% endblock %}
{% endblock %}
{% block body %}
  <div class="toast-container">
    <div id="authToast" class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body" id="toastMsg">Error message here.</div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
      </div>
    </div>
  </div>

  <div class="auth-card animate-fade">
    {% block content %}

    {% endblock %}
    {% block extra_body %}

    {% endblock %}
  </div>
{% endblock %}
