{% extends 'pages/base.html' %}

{% block header_content %}
  <div>
    <h2 class="fw-bold">Transactions</h2>
    <p class="text-muted mb-0">Monitor and export your financial activity</p>
  </div>
{% endblock %}

{% block inner_header %}
  <div class="d-flex justify-content-end gap-2 mb-3">
    <button class="btn btn-outline-secondary" style="border-radius: 10px;" data-bs-toggle="modal" data-bs-target="#filterModal">
      <i class="bi bi-sliders2 me-2"></i>
      <span class="d-none d-md-inline-flex">Filters</span>
    </button>

    <button class="btn btn-payMO-dark px-4" data-bs-toggle="modal" data-bs-target="#exportModal">
      <i class="bi bi-download me-2"></i>
      <span class="d-none d-md-inline-flex">Export PDF</span>
    </button>
  </div>
{% endblock %}

{% block content %}
  {% include 'pages/components/transactions/tabs/navs.html' %}

  <div class="tab-content animate-slide" id="pills-tabContent" style="animation-delay: 0.1s;">
    {% include 'pages/components/transactions/tabs/content.html' %}
  </div>
{% endblock %}
